[submodule "vendor/jQueryHashChange"]
	path = vendor/jQueryHashChange
	url = https://github.com/cowboy/jquery-hashchange.git
[submodule "vendor/jQueryScrollPath"]
	path = vendor/jQueryScrollPath
	url = https://github.com/JoelBesada/scrollpath.git
