@import "_mixins.scss";

@include font-face( "Ornamental Versals", "../fonts/ornamentalversals_black/ornamentalversals_black" );

@include font-face( "Gothic I", "../fonts/gothici/gothici" );

@include font-face( "Chopin Script", "../fonts/chopinscript/chopinscript" );

@include font-face( "Trajan Pro", "../fonts/trajanpro/trajanpro" );

@include font-face( "Trajan Pro", "../fonts/trajanpro_bold/trajanpro_bold", bold );

$light-gray: #b2b2b2;
$shade-gray: #2f2f2f;
$dark-gray: #0f0f11;
$title-gray: #626262;
$turquoise: #12c49b;
$shade-turq: #00a170;
$dark-turq: darken( $turquoise, 18% );

$window-width: 950px;
$window-height: 490px;

@mixin font-sans {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

@mixin font-chopin {
	font-family: "Chopin Script", "Times New Roman", Times, Arial, serif;
	font-size: 35pt;
	letter-spacing: 1px;
}

@mixin font-mental {
	font-family: "Ornamental Versals", Georgia, serif;
	font-size: 18pt;
	letter-spacing: 2px;
}

@mixin font-gothic {
	font-family: "Gothic I", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 26pt;
}

body {
	width: 100%;
	height: 100%;

	padding: 0px;
	margin: 0px;

	@include font-sans;

	background: $dark-gray;
	overflow: hidden;

	@include selection( $turquoise );
}

img#logo {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-left: -405px;
	margin-top: -298px;
}

img#subtitle {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-left: 200px;
	margin-top: -270px;
}

img.hidden {
	display: none;
}

h1 {
	margin: 0px;

	@include font-chopin;
}

h2 {
	margin: 0px;

	@include font-mental;

	span {
		@include font-gothic;
	}
}

h3 {
	margin: 0px;

	@include font-chopin;
	font-size: 25pt;
	color: $title-gray;
	font-weight: normal;
}

a {
	@include transition( color, 0.2s, linear );
}

a:hover {
	border: none;
}

button {
	border: none;
	outline: none;

	background: transparent;

	cursor: pointer;
}

div#window {
	position: absolute;
	top: 50%;
	left: 50%;

	width: $window-width;
	height: $window-height;

	margin: {
		left: $window-width / -2;
		top: $window-height / -2;
	}

	overflow: hidden;

	div#background {
		z-index: 1;

		width: 4961px;
		height: 3508px;

		background: transparent url("../images/background.jpg") no-repeat left top;
	}

	div.slide-title {
		display: none;

		z-index: 2;

		position: absolute;

		h2 {
			position: relative;

			margin: {
				top: 0px;
				bottom: 8px;
			}

			text-align: right;

			@include text-border( $shade-gray );
			color: $title-gray;
		}

		h1 {
			position: relative;

			margin: {
				top: 0px;
				bottom: 2em;
			}

			@include text-border( $dark-turq );
			color: $turquoise;

			text-align: left;
		}

		&.left {
			h2 {
				text-align: left;
			}
			h1 {
				text-align: right;
			}
		}
	}

	div#black {
		z-index: 100;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;

		background: black;
	}

	h1#loading {
		z-index: 101;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;

		margin: 240px 0px;

		text-align: center;
		color: $turquoise;
		font-size: 20pt;

		@include opacity( 0.5 );
	}

	button.control {
		color: $turquoise;
		@include text-border( $dark-turq );
		vertical-align: middle;
		text-align: right;

		@include opacity( 0.6 );

		@include transition( opacity, 0.5s, linear);

		&:hover {
			@include opacity( 1 );
		}
	}

	div#controls {
		z-index: 102;

		position: absolute;
		bottom: 35px;
		right: 40px;

		button {
			display: none;

			bottom: 0px;
			right: 0px;

			height: 50px;
			margin: 0px;

			&#play {
				width: 300px;

				font-size: 22pt;

				span {
					display: none;

					padding-right: 10px;

					@include font-chopin;
					font-size: 19pt;
					color: $turquoise;
					vertical-align: middle;
					line-height: 2em;

					@include text-border( $dark-turq );
				}
			}

			&#pause {
				font-size: 26pt;
				margin-bottom: -2px;
			}

			&#replay {
				font-size: 25pt;
				margin-bottom: -3px;
			}
		}
	}

	div.story {
		display: none;

		z-index: 103;

		position: absolute;
		left: 0px;
		top: 0px;

		width: $window-width;
		height: $window-height;

		overflow: auto;
		overflow-x: hidden;

		h1.story-header {
			height: 146px - 55px;

			padding: {
				top: 55px;
			}

			font-size: 40pt;
			color: $turquoise;
			@include text-border( $dark-turq );
		}
		
		div.story-body {
			min-height: $window-height;
			width: $window-width - 140px - 95px;

			padding: {
				left: 140px;
				right: 95px;
			}

			@include font-chopin;
			color: $shade-gray;
			font-size: 22pt;
			text-align: justify;

			background: transparent url('../images/story-bg.jpg') repeat left top;

			h1 {
				margin-left: -10px;
				margin-bottom: 13px;

				line-height: 75px;
			}

			h2 {
				margin-bottom: -40px;

				line-height: 84px;
				text-transform: lowercase;
			}

			h3.separator {
				font-size: 20pt;
				text-align: center;
				padding-bottom: 20px;
			}

			p {
				margin: 0px;
				padding: 22px 0px;

				line-height: 44px;

				&:first-child {
					padding-top: 15px;
				}

				span.initial {
					float: left;

					padding: 0px 10px;

					@include font-mental;
					font-size: 60pt;

					line-height: 85px;
				}
			}

			a {
				color: $dark-turq;
				text-decoration: none;
				@include text-shadow( 1px, 1px, 0px, $light-gray );
			}

			a:hover {
				color: $shade-turq;
			}
		}

		&#programma {
			button#toggle-completed {
				@include font-chopin;
				font-size: 25pt;
				color: $title-gray;
				margin-left: -30px;
				@include transition( color, 0.5s, linear);

				span {
					font-size: 20pt;
				}

				&:hover {
					color: $shade-gray;
				}
			}

			div.schedule, div.dancing {
				margin-bottom: 30px;

				h2 {
					line-height: 69px;
					margin-bottom: -11px;

					@include text-shadow( 1px, 1px, 1px, darken( white, 20% ));

					span {
						font-size: 22pt;
						line-height: 0px;
					}
				}

				p {
					padding: 0px;
					padding-left: 40px;

					span {
						padding-right: 10px;
						font-size: 20pt;
					}
				}
			}
			
			div.dancing {
				padding: 20px 0px;

				margin: 0px;
			}
		}

		&#selectie {
			p.scene {
				padding: {
					top: 0px;
					bottom: 30px;
				}

				font-size: 30pt;

				img {
					margin: {
						right: 10px;
					}

					vertical-align: middle;
				}
			}
		}
		
		&#commissie {
			img {
				float: left;

				padding-right: 5px;

				vertical-align: middle;
			}

			ul#diescie-ipema {
				width: 675px;
				height: 402px;

				margin: 0px;

				list-style-type: none;

				padding: {
					top: 20px;
					bottom: 20px;
				}

				font-size: 24pt;

				li.bijnaam {
					padding-bottom: 10px;

					font-size: 19pt;
					color: $dark-turq;
					text-align: right;
					@include text-shadow( 1px, 0px, 0px, $light-gray );
				}
			}
		}
	}

	button#close-story {
		display: none;

		z-index: 104;

		position: absolute;
		top: 68px;
		right: 120px;

		width: 120px;

		@include font-chopin;
		font-size: 26pt;
		color: $title-gray;

		@include transition( color, 0.5s, linear);

		&:hover {
			color: $shade-gray;
		}

		span {
			font-size: 20pt;
		}
	}

	svg#foreground {
		z-index: 105;

		position: absolute;
		top: -1px;
		left: -1px;

		width: 952px;
		height: 492px;

		pointer-events: none;
	}

	button#toggle-sound {
		//must be above #foreground because of some stupid IE thing
		z-index: 106;

		position: absolute;
		bottom: 40px;
		left: 55px;

		width: 35px;
		height: 27px;

		background: transparent url('../images/sound-on.png') no-repeat left top;

		&.sound-off {
			background-image: url('../images/sound-off.png');
		}

		&.no-sound {
			background-image: url('../images/no-sound.png');
			cursor: default;
		} 
	}
}

h1#stud {
	text-align: center;
}

$menu-height: 40px;
$contract-width: 40px;

div#menu {
	position: absolute;
	top: 50%;
	left: 50%;

	width: $window-width;
	height: $menu-height;

	margin: {
		top: $window-height / 2;
		left: $window-width / -2;
	}
	padding: 7px 0px;

	width: $window-width;

	font-size: 18pt;
	color: $light-gray;
	text-align: center;

	a {
		padding: 5px;

		@include font-mental;
		font-size: 16pt;

		color: $light-gray;
		text-decoration: none;
	}

	a:hover {
		color: white;
	}
}

$deftop: 40px;
$defright: 100px;

div#leo {
	top: $deftop;
	right: 100px;
}

div#recepski {
	top: $deftop;
	right: 100px;
}

div#letszing {
	top: $deftop;
	right: 100px;
}

div#tsarwars {
	top: $deftop;
	right: 100px;
}

div#ekskurzyi {
	top: $deftop;
	left: 90px;
}

div#bruzjesdag {
	top: $deftop;
	left: 400px;
}

div#gsg {
	top: $deftop;
	left: 90px;
}

div#hv {
	top: $deftop;
	left: 100px;
}

div#kabarad {
	top: 65px;
	left: 100px;
}

div#tyurbokring {
	top: $deftop;
	left: 300px;
}

div#stryd {
	top: $deftop;
	left: 200px;
}

div#gala {
	top: $deftop;
	left: 80px;
}

div#dedebryunsz {
	top: $deftop;
	right: 100px;
}
