@import "_mixins.scss";

@font-face {
	font-family: "Ornamental Versals";
	src: url("../fonts/ornamentalversals_black.ttf");
}

@font-face {
	font-family: "Chopin Script";
	src: url("../fonts/chopinscript.otf");
}

@font-face {
	font-family: "Trajan Pro";
	src: url("../fonts/trajanpro.otf");
}

@font-face {
	font-family: "Trajan Pro";
	font-weight: bold;
	src: url("../fonts/trajanpro_bold.otf");
}

@font-face {
	font-family: "Gothic I";
	src: url("../fonts/gothici.ttf");
}

$light-gray: #b2b2b2;
$shade-gray: #2f2f2f;
$dark-gray: #0f0f11;
$title-gray: #626262;
$turquoise: #12c49b;
$shade-turq: #00a170;
$dark-turq: darken( $turquoise, 18% );

$window-width: 950px;
$window-height: 490px;

@mixin font-sans {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

@mixin font-chopin {
	font-family: "Chopin Script", "Times New Roman", Times, Arial, serif;
	font-size: 35pt;
	letter-spacing: 1px;
}

@mixin font-mental {
	font-family: "Ornamental Versals", Georgia, serif;
	font-size: 18pt;
	letter-spacing: 2px;
}

@mixin font-gothic {
	font-family: "Gothic I", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 26pt;
}

body {
	width: 100%;
	height: 100%;

	padding: 0px;
	margin: 0px;

	@include font-sans;

	background: $dark-gray;
	overflow: hidden;
}

img#logo {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-left: 105px;
	margin-top: -303px;
}

h1 {
	@include font-mental;

	span {
		@include font-gothic;
	}
}

h2 {
	@include font-chopin;
}

a {
	@include transition( color, 0.2s, linear );
}

button {
	border: none;
	outline: none;

	background: transparent;

	cursor: pointer;
}

div#window {
	position: absolute;
	top: 50%;
	left: 50%;

	width: $window-width;
	height: $window-height;

	margin: {
		left: $window-width / -2;
		top: $window-height / -2;
	}

	overflow: hidden;

	div#background {
		z-index: 1;

		width: 4961px;
		height: 3508px;

		background: transparent url("../images/background.png") no-repeat left top;
	}

	div.slide-title {
		display: none;

		z-index: 2;

		position: absolute;

		h1 {
			position: relative;

			margin-bottom: 8px;

			text-align: right;

			@include text-border( $shade-gray );
			color: $title-gray;
		}

		h2 {
			position: relative;

			margin-top: 0px;

			@include text-border( $dark-turq );
			color: $turquoise;

			text-align: left;
		}

		&.left {
			h1 {
				text-align: left;
			}
			h2 {
				text-align: right;
			}
		}
	}

	div#black {
		z-index: 100;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;

		background: black;
	}

	svg#foreground {
		z-index: 106;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;

		pointer-events: none;

		background: transparent url("../images/foreground.png") no-repeat left top;
	}

	div#controls {
		z-index: 102;

		position: absolute;
		bottom: 35px;
		right: 40px;

		button {
			display: none;

			position: absolute;
			bottom: 0px;
			right: 0px;

			height: 50px;
			margin: 0px;

			color: $turquoise;
			@include text-border( $dark-turq );
			vertical-align: middle;
			text-align: right;

			@include opacity( 0.6 );

			@include transition( opacity, 0.5s, linear);

			&:hover {
				@include opacity( 1 );
			}

			&#play {
				width: 300px;

				font-size: 22pt;

				span {
					display: none;

					padding-right: 10px;

					@include font-chopin;
					font-size: 19pt;
					color: $turquoise;
					vertical-align: middle;
					line-height: 2em;

					@include text-border( $dark-turq );
				}
			}

			&#pause {
				font-size: 26pt;
				margin-bottom: -2px;
			}

			&#replay {
				font-size: 25pt;
				margin-bottom: -3px;
			}
		}
	}

	button#close-story {
		display: none;

		z-index: 104;

		position: absolute;
		top: 68px;
		right: 120px;

		width: 120px;

		@include font-chopin;
		font-size: 26pt;
		color: $title-gray;

		@include transition( color, 0.5s, linear);

		&:hover {
			color: $shade-gray;
		}

		span {
			font-size: 20pt;
		}
	}

	div.story {
		display: none;

		z-index: 103;

		position: absolute;
		left: 0px;
		top: 0px;

		width: $window-width;
		height: $window-height;

		overflow: auto;
		overflow-x: hidden;

		h2.story-header {
			width: $window-width - 140px;
			height: 146px - 55px;

			margin: 0px;

			padding: {
				left: 140px;
				top: 55px;
			}

			font-size: 40pt;
			color: $turquoise;
			@include text-border( $dark-turq );

			background: transparent url('../images/story-header.jpg') no-repeat left top;
		}
		
		div.story-body {
			min-height: $window-height - 146px;
			width: $window-width - 140px - 95px;

			padding: {
				left: 140px;
				right: 95px;
			}

			@include font-chopin;
			color: $shade-gray;
			font-size: 22pt;
			text-align: justify;

			background: transparent url('../images/story-body.jpg') repeat left top;

			p {
				margin: 0px;
				padding: 0.5em 0px;

				line-height: 1.5em;

				span.initial {
					float: left;

					padding: 0px 8px;

					@include font-mental;
					font-size: 3em;

					line-height: 1em;
				}
			}

			div.prog-dag, div.dansles {
				margin-bottom: 20.5pt;

				h1 {
					text-transform: lowercase;
					margin: 0px;
					margin-bottom: -0.5em;

					line-height: 3em;

					@include text-shadow( 1px, 1px, 1px, darken( white, 20% ));

					span {
						font-size: 22pt;
						line-height: 0em;
					}
				}

				p {
					padding: 0px;
					padding-left: 40px;

					line-height: 1.5em;
					span {
						padding-right: 10px;
						font-size: 20pt;
					}
				}

				a {
					color: $dark-turq;
					text-decoration: none;
				}

				a:hover {
					color: $shade-turq;
				}
			}
			
			div.dansles {
				padding: 20px 0px;
				padding-bottom: 2em;

				margin: 0px;
			}
		}
	}
}

$menu-height: 40px;
$contract-width: 40px;

div#menu {
	position: absolute;
	top: 50%;
	left: 50%;

	width: $window-width;
	height: $menu-height;

	margin: {
		top: $window-height / 2;
		left: $window-width / -2;
	}
	padding: 7px 0px;

	width: $window-width;

	font-size: 18pt;
	color: $light-gray;
	text-align: center;

	a {
		padding: 5px;

		@include font-mental;
		font-size: 16pt;

		color: $light-gray;
		text-decoration: none;
	}

	a:hover {
		color: white;
	}
}

$deftop: 30px;
$defright: 100px;

div#leo {
	top: $deftop;
	right: 100px;
}

div#receptie {
	top: $deftop;
	right: 100px;
}

div#lezing {
	top: $deftop;
	right: 100px;
}

div#tsarwars {
	top: $deftop;
	right: 100px;
}

div#excursie {
	top: $deftop;
	left: 90px;
}

div#brusjesdag {
	top: $deftop;
	left: 400px;
}

div#spellen {
	top: $deftop;
	left: 90px;
}

div#hv {
	top: $deftop;
	left: 100px;
}

div#cabaret {
	top: 65px;
	left: 100px;
}

div#turbokring {
	top: $deftop;
	left: 300px;
}

div#verticalenstrijd {
	top: $deftop;
	left: 200px;
}

div#gala {
	top: $deftop;
	left: 80px;
}

div#dedebrunch {
	top: $deftop;
	right: 100px;
}
